.sideProjects {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: var(--space5XL);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spaceL);
  width: 100%;
  max-width: var(--maxWidthL);
  margin: 0;
  padding: 0;
  list-style: none;

  @media (--mediaTablet) {
    grid-template-columns: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: var(--inkBorder);
  background-color: var(--backgroundLight);
  box-shadow: 8px 8px 0 var(--text);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.image {
  display: block;
  border-bottom: var(--inkBorder);
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spaceXL);
}

.context {
  margin-bottom: var(--spaceS);
  color: var(--textLight);
}

.title {
  margin-bottom: var(--spaceM);
  font-family: var(--fontDisplay);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.description {
  margin-bottom: var(--spaceL);
  color: var(--textBody);
}

.button {
  margin-top: auto;
}
